[build]
  base = "client"
  command = "npm install && npm run build"
  publish = "build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  REACT_APP_SERVER_DOMAIN = "https://doctorappointment-m5j2.onrender.com/api"
